html, body, div#root {
    height:100%;
}
div#root {
    display:flex;
    background-color:#2C3034;
}
div#map {
    width:100%;
    height:100%;
}
.finder {
    margin:auto;
    width:50%;
    min-width:350px;
    height:150px;
}
Button h1 {
    color:#B56F79;
}
h1.output {
    color:#DDDDDD;
    margin:auto;
}